In [1]:
#conversion from one type of data structure into another structure
float (5)

5.0

In [2]:
#conversion from float to int will truncate the value make it closer to zero
int (89.54)

89

In [ ]:
#converting one sequence to another 
set ([344,4,4,4])

{4, 344}

In [4]:
#To convert to dictionary , each element must be a pair
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [5]:
x= int(input('enter the value of x'))
y= int(input('enter the value of y'))

print(type(x))
print(type(y))

sum = x + y

print(sum)

<class 'int'>
<class 'int'>
7

In [11]:
#to calculate the intrest simple intrest = p t r by 100
p = int(input ('enter the value of p'))
t = int(input ('enter the value of time taken'))
r = float (input ('enter the value of rate '))
print(f"the principle amount is :{p}")

intrest = p * t * r/100

print(f'The simple intrest is {intrest}')

the principle amount is :2
The simple intrest is 0.12

In [12]:
#area and perimeter of the rectangle 
#area = lxb
# perimeter = 2 x(l+b)

length = int(input('enter the length of an object'))
print(f'the lenght of an object is {length}')
breath = int(input('enter the breath of an object'))
print(f'the breath of an object is {breath}')

area = length * breath
print(f'the area of an object is {area}')

perimeter = 2 * (length + breath)
print(f'the perimeter of an object is {perimeter}')

the lenght of an object is 3
the breath of an object is 4
the area of an object is 12
the perimeter of an object is 14

In [13]:
#homework area an perimeter of an circle

In [14]:
#arithmetic operator
#+addition 
# -sub
# *multiplication
# /divide
#// integer division yeaslea chai . vanda aagadi ko matra deakhaucha 
#% remainder or modulus operator  5 / 2 garda 1 aaucha
#** power operator  2 **5 = 2*2*2*2*2

In [ ]:
# comparision operator
    #> greater than
    #< less than
    # == equal
    #!= not equal to 
    # >= greater than or equal to 
    #<=  less than or equal to

In [16]:
# number of character 
name = ('ramesh')
len(name)

6

In [17]:
len('apple')== len('banana')

False

In [ ]:
#logical operator 
    #and= all value true 
    #or = any of the value is true so true 
    #not= if value is true it will be false 
(True or False) and False

False

In [ ]:
# And bitwise operator
a = 2  #0010
b= 3   #0011
a & b # ans= 0010

2

In [ ]:
#OR bitwise operrator
a = 2  #0010
b= 3   #0011
a | b # ans= 0010

3

In [33]:
#assignment operator
x= 5 
x = x + 5 #yo pani assignment operator
print(x) 

x= 5 
x += 5
print (x) 
 


x = 15 
x -= 5
print(x)


x = 2 
y = 2 
x == y

10
10
10

True

In [ ]:
#identity operator 
x = 2 
y =2 
print(id(x))
print(id(y))

x is y #memory address vanna khojyeako 
# tara 0 - 256 same memory address huncha kina vanyea yo pahilai memory address ma 
#basisakyeako huncha 
x = 300 
y = 300 
print(id(x))
print(id(y))
x is y

140728949547976
140728949547976
140728949554312
140728949554312

True

In [44]:
#membership operator
1 in (1,2,3,4,5)
1 in {1,2,3,4,5}
1 in [1,2,3,4,5]
# alos in dictionary but only for key 
'a' in {'a':1,'b':2}

True