In [ ]:
# old school use placeholder like this 
# all type of placeholder are 
#%s = string
#%d = integer
#%f = float
#%2f = float with 2 decimal places
# %r = repr() of the value
# %x = hexa decimal number
# %X = hexa decimal number in uppercase
# %c = character
name = "Ritik"
age = 24
height = 5.9

print("My name is %s. I am %d years old and %.1f feet tall." % (name, age, height))
# print('my name is %s . i am %d years old and %1f feet tall '%(name,age,height))

My name is Ritik. I am 21 years old and 5.9 feet tall.

In [ ]:
# | Escape Code | Description            |
# | ----------- | ---------------------- |
# | `\n`        | New line               |
# | `\t`        | Tab                    |
# | `\\`        | Backslash (`\`)        |
# | `\'`        | Single quote           |
# | `\"`        | Double quote           |
# | `\r`        | Carriage return (rare) |
print("Hello\nWorld")        # New line
print("Name:\tRitik")        # Tab space
print("He said: \"Hi!\"")    # Quoted word

Hello
World
Name:	Ritik
He said: "Hi!"

In [3]:
# This is a modern and flexible way to format strings.
name = "Ritik"
age = 21

print("My name is {} and I am {} years old.".format(name, age))

My name is Ritik and I am 21 years old.

In [6]:
# The most modern and readable way to format strings.
name = "Ritik"
age = 21
print(f"My name is {name} and I am {age} years old.")
x = 10
y = 3
print(f"Division result: {x / y:.2f}")  # Output: 3.33

My name is Ritik and I am 21 years old.
Division result: 3.33

In [ ]:
text = "I love Python"
words = text.split()
print(words)
new_sent = "-".join(words)
print(new_sent)

['I', 'love', 'Python']
I-love-Python

In [6]:
name = "ritik"
age = 20
print('my name is {}.and my age is {}'.format(name,age))

my name is ritik.and my age is 20

In [19]:
text = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
new= "abcdefghijklmnopqrstuvwxyz"
encoded = text.encode()
print(list(encoded))
newe = new.encode()
print(list(newe))

[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]

In [21]:
print("apple" == "Apple")     # False
print("apple" < "banana")     # True (lexical order)

False
True

In [23]:
import lorem 
print(lorem.sentence())

Voluptatem quiquia etincidunt dolorem dolorem consectetur dolorem porro.

In [ ]:
from faker import Faker
print(fake.sentence())

That vote create big back.

In [27]:
sent = fake.sentence()
print(sent)

Marriage tough song learn top figure respond.

In [ ]:
sent = fake.paragraph()
print(sent)
print("there is ritik in the text :","is" not in sent)

Value miss represent behind. Deep among student travel usually less. Close box morning thought.
there is ritik in the text False

In [39]:
text = "Ritik Humagain"
print(text.center(40,"-"))
print(text.ljust(40,"-"))
print(text.rjust(40,"-"))

-------------Ritik Humagain-------------
Ritik Humagain--------------------------
--------------------------Ritik Humagain

In [40]:
# print numbers from 1 to 10 using a while loop 
i = 1 
while i <= 10:
    print('count:',i)
    i += 1

count: 1
count: 2
count: 3
count: 4
count: 5
count: 6
count: 7
count: 8
count: 9
count: 10

In [ ]:
# write a program to print even numbers from 1 to 20 
# i = 1
# while i <= 20: 
#     if i % 2 ==0:
#         print('Even no is :',i)
# i += 1 
# retur

In [2]:
i = 1
while i <= 20:
    if i % 2 == 0:
        print('Even no is:', i)
    i += 1

Even no is: 2
Even no is: 4
Even no is: 6
Even no is: 8
Even no is: 10
Even no is: 12
Even no is: 14
Even no is: 16
Even no is: 18
Even no is: 20

In [ ]:
#print the multiplication table of 5 using a while loop
i = 1
while i <= 10:
    if i % 5 == 0:
        i