In [ ]:
# typecasting = The process of converting a value of one data type to another 
#   we can change string to integer or float to integer 
#   Explicit vs Implicit

In [ ]:
# Explicit 
name = 'bro'
age = 21 
gpa = 1.9 
student= True

type(name)
type(age)
type (gpa) 

age = float(age)
print(age)

gpa = int(gpa )
print (gpa )

age =  bool(age)
# print(age)

21.0
1
True

In [11]:
# implicit (affai convert huni )
x = 2 
y = 2.0
print(type(x))
x = x /y 
print(type(x))

<class 'int'>
<class 'float'>