In [1]:
print("Hello World")

Hello World

In [2]:
# remove all the duplicates elements from a list 
# find the second largest number in a list 
# count frequency of Element
# find common elemnets from two list 
# student score tracker 
 # use a list of tuple to store student name and score . 
# add new entries, find average , highest and lowest .

In [4]:
# function 
def addition (a,b ):
    sum = a + b 
    return sum  
print(addition(1,2))

3

In [ ]:
def addition (a,b ):
    sum = a + b 
    return sum  
x = int(input("enter any number")) 
y = int(input("enter any number")) 
print(addition(x,y))

12

In [8]:
def addition (p,t,r ):
    intrest = (p*t*r)/100
    return intrest 
p = int(input("enter p")) 
t = int(input("enter t")) 
r = int(input("enter r")) 
simple_intrest = addition(p,t,r)
print(f"Simple Intrest :{simple_intrest}")
print(type(simple_intrest))

Simple Intrest :10.0
<class 'float'>

In [ ]:
# 1
def ch(x):
    if x % 2 == 0 :
        print("even")
    else:
        print("odd")
x = int(input("enter any Number "))

# 2 
add1 = []
def add():
    


x = list(input("enter the number"))

In [23]:
def factorial (n):
    fact = 1 
    for i in range (1,n+1):
        fact *= i
    return fact
final_fact = factorial(5)
print(final_fact)

120

In [24]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [ ]:
#FUNCTION AREA AND PERIMETER OF AN RECTANGLE (Return multiple values)
# Return Multiple values

def rectangle (l,b):
    area  = l * b 
    perimeter = 2 *( l + b)
    return area , perimeter
l = 2 
b = 2
ar, pe = rectangle(5,2)
print(ar)

10

In [28]:
l = 10 
b = 5
ar_pe = rectangle(l , b)
print(ar_pe)

(50, 30)

In [7]:
xy = [6,5,4,7,3,9,1]
xy.sort()
xy
xy[-2]
xy.count(9)

1

In [8]:

def sum1(*n):
    return sum(n)
a=[1,2,33,5,6,3,2]
print(sum1(*a))

52

In [12]:
def sum_list(id):              #p = [ 100m, 200 , 300, 400]  id nai list vaidincha aaba 
    total = sum (p)
    return total

p = [100,200,300,400]
sum_list(p)
sum = sum_list(p)
print("Sum of list:",sum)

Sum of list: 1000

In [13]:
# optinal parameter , Anonymous function , nested function

In [14]:
# optinal parameter 
# parameter , arguments

In [25]:
def rectangle(l= 5,b= 2 ) :
    area = l * b 
    return area
# l = 7 
# b = 5 
ar = rectangle(l,b) 
print(ar)

35

In [28]:
def rectangle(l= 5,b= 2 ) :
    area = l * b 
    return area
# l = 7 
# b = 5 
ar = rectangle(l) 
print(ar)

14

In [33]:
# anonymous function  (name nai chaina ) 
# Function with no name : Lambda function 
def square (n) : 
    return n ** 2 
x = 5 
print(square(x))

# syntax (lambda parameter : return)
cube = lambda n : n ** 3 
x = 8 
print(cube(x))

25
512

In [35]:
# Example 
area = lambda x,y : x * y 
rectangle = 3,4
print(area(3,5))

15

In [40]:
# Nested function 
def parent () : 
    print("parent function") 

    def  child():
        print("child function")
    child()

parent()

parent function
child function

In [41]:
# Nested function 
def parent () : 
    print("parent function") 

    def  child1 ():
        print("child1 function")
    def  child2 ():
        print("child2 function")
    child2()
    child1()
    

parent()

parent function
child2 function
child1 function

In [44]:
# Nested function 
def parent () : 
    print("parent function") 
    
    def  child1 ():
        print("child1 function")
    def  child2 ():
        print("child2 function")
    child2()
    child1()
    

parent()

parent function
child2 function
child1 function

In [47]:
# local and global variables 
total = 10 
def display():
    total = 7 
    return total
print(total)
display()

10

7

In [53]:
x = 10 
def display():
    y = 7 
    global x 
    x = y   
    return x 
print(display())
print(x)

7
7