In [1]:
# Oop = Object Oriented Programming
# class = person - blueprint/structure/termplate
# Object= ram - actually exists /  instance of class

In [ ]:
class Person:
# attripute / property
    name= 'Ritik'
    age= 25
    height= 5.11    
    weight = 90
    gender= "Male"
    address= "Balaju"
# method / action/behaviou/characteristics/
    def eat():
        print("Eating..")
    def sleep():
        print("Sleeping..")
    def walk():
        print("Walking..")   
    def play():
        print("Playing..")
    def code():
        print("Coding..")

In [7]:
p = Person()
print(p)  # object of class person
p.name
Person().age
Person().height

<__main__.Person object at 0x000002B14B699FD0>

5.11

In [ ]:
p2 = Person()
print(p2)

<__main__.Person object at 0x000002B14B7C4350>

In [10]:
p2.name
p2.age

25

In [ ]:
class Person:
    def __init__(self,name,age,address):
        # print(name,age,address)
        self.name = name 
        self.age = age 
        self.address = address
    def eat (self):
        print('eating')
    def sleep(self):
        print("Sleeping..")
    def walk(self):
        print("Walking..")   
    def play(self):
        print("Playing..")
    def code(self):
        print("Coding..")
p1 = Person("ram",22,"balaju")
p1.name
p2 =Person('shyam',40,'india')
p2.address

ram 22 balaju
shyam 40 india

'india'

In [ ]:
class Student:
    def __init__(self,name,age,address ,college,faculty,rool_no):
        self.name= name
        self.age= age
        self.address= address
        self.college= college
        self.faculty= faculty
        self.rool_no= rool_no
    def learn(self):
        printt ("student is learning ")
p1 = Student("ram",22,"balaju",'ncit','science',30)
p1.age

22