In [1]:
#tuple datatye / data structure
x = (1,2,3,4,5)
print(x,type(x))

(1, 2, 3, 4, 5) <class 'tuple'>

In [ ]:
# üìò Python Tuple Operations ‚Äî All-Purpose Reference with Examples

# ‚úÖ 1. Creating Tuples
tup = (1, 2, 3, 4, 5)
print(tup)

# ‚úÖ 2. Tuple with Mixed Data Types
mixed = (1, "hello", 3.5, True)
print(mixed)

# ‚úÖ 3. Accessing Elements (Indexing)
# Syntax: tuple[index]
print(tup[0])    # First element
print(tup[-1])   # Last element

# ‚úÖ 4. Slicing Tuples
# Syntax: tuple[start:end:step]
print(tup[1:4])  # (2, 3, 4)
print(tup[::-1]) # Reversed tuple

# ‚úÖ 5. Tuple Immutability
# tup[0] = 10  # ‚ùå This will raise TypeError because tuples are immutable

# ‚úÖ 6. Tuple Length
print(len(tup))

# ‚úÖ 7. Iterating Through Tuple
for item in tup:
    print(item)

# ‚úÖ 8. Membership Test
print(3 in tup)     # True
print(6 not in tup) # True

# ‚úÖ 9. Nested Tuples
nested = ((1, 2), (3, 4))
print(nested[0])     # (1, 2)
print(nested[0][1])  # 2

# ‚úÖ 10. Tuple Concatenation
print(tup + (6, 7))

# ‚úÖ 11. Tuple Repetition
print(tup * 2)

# ‚úÖ 12. Count & Index Methods
# Syntax: tuple.count(value), tuple.index(value)
tup2 = (1, 2, 1, 3, 1)
print(tup2.count(1))  # Count occurrences of 1
print(tup2.index(3))  # Index of first occurrence of 3

# ‚úÖ 13. Single-Element Tuple
one = (10,)  # Note the comma
print(type(one))  # <class 'tuple'>

# ‚úÖ 14. Tuple Unpacking
a, b, c, d, e = tup
print(a, b, c, d, e)

# ‚úÖ 15. Using * to Collect Remaining Values
x, *y, z = (1, 2, 3, 4, 5)
print(x)  # 1
print(y)  # [2, 3, 4]
print(z)  # 5

# ‚úÖ 16. Tuple as Function Return
def min_max(numbers):
    return (min(numbers), max(numbers))

result = min_max([5, 1, 9, 2])
print(result)  # (1, 9)

# ‚úÖ 17. Convert Between Tuple and List
lst = list(tup)  # Convert to list
tuple_again = tuple(lst)  # Back to tuple
print(lst, tuple_again)

# ‚úÖ 18. Using Tuples as Dictionary Keys
d = { (1,2): "a", (3,4): "b" }
print(d[(1,2)])  # a

# ‚úÖ 19. Tuple Sorting (requires conversion to list)
sorted_tup = tuple(sorted(tup, reverse=True))
print(sorted_tup)

# ‚úÖ 20. Checking Tuple Type
print(isinstance(tup, tuple))  # True

# ‚úÖ 21. Tuple Comparison
t1 = (1, 2, 3)
t2 = (1, 2, 4)
print(t1 < t2)  # True (compares element-wise)

# ‚úÖ 22. Tuple Multiplication and Concatenation Combined
print((1, 2) * 3 + (3,))  # (1, 2, 1, 2, 1, 2, 3)

# ‚úÖ 23. Max, Min, and Sum (if all elements are numeric)
numeric_tup = (4, 2, 8, 1)
print(max(numeric_tup))  # 8
print(min(numeric_tup))  # 1
print(sum(numeric_tup))  # 15

# ‚úÖ 24. Tuple Comprehension via Generator Expression
squares = tuple(x*x for x in range(5))
print(squares)  # (0, 1, 4, 9, 16)

# ‚úÖ 25. Tuple with No Elements
empty = ()
print(empty, type(empty))  # () <class 'tuple'>

In [2]:
#supports any type of data structure 
#ordered collection
x = (1,1.3,4j,'string',[1,2,3],(1,2,3),{1,2},{"name":'ritik'})
print(x,type(x))

(1, 1.3, 4j, 'string', [1, 2, 3], (1, 2, 3), {1, 2}, {'name': 'ritik'}) <class 'tuple'>

In [7]:
#tuple is immutable data structure = cannot be changed once defined
x = (1,2,3,4,5)
# x[0]='number'  error aucha

In [6]:
#indexing
x = (1,2,3,4,5)
print(x[2])
print(x[2:4])

3
(3, 4)

In [10]:
# tuple ma k k garna milcha vanyeara herna help(tuple)
# help(tuple)

In [ ]:
#count 
print(x.count(3))
print(x.index(3))

1

In [ ]:
#  tuple kasari huncha: , vayo vanea
x = (1)
print(type(x))
y = (1,2,3)
print(type(y))
z = 1,2,3,4
print(type(z))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [18]:
#tuple unpacking 
x,y,z= 1,2,3
print(x)
print(y)
print(z)
x = x + 1
print(x)

1
2
3
2

In [ ]:
#list vs tuple 
#list mutable but tuple immutable 
# list [] but tuple (,) comma is neccessary 
#list is slower than tuple tuple is faster
#list takes more merory than tuple 
#list homogenous datastructure where as tuple heterogenous datastructure
#generally
fruits = ['apple','banana','kiwi']
person1 = (1,'ram',22,9840027049,5.9)
print(person1,type(person1)) #, rakhyo vanyea aaru kura pani access garna milcha 
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
print(person,type(person))
print(person['name']) #dic ko kunai key lina paryo vane
print(person['contact']) #dic ko kunai key matra lina paryo vane
# kunai kura thapna paryo vanea 
person['email'] = 'ritikhumagain@gmail.com'
print(person)
#kunai kura del garna paryo vanea 
del person['age']
print(person)
#dist ma k k garna mailcha herna help(dist)

(1, 'ram', 22, 9840027049, 5.9) <class 'tuple'>
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 9840027049, 'height': 5.9} <class 'dict'>
ram
9840027049
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 9840027049, 'height': 5.9, 'email': 'ritikhumagain@gmail.com'}
{'id': 1, 'name': 'ram', 'contact': 9840027049, 'height': 5.9, 'email': 'ritikhumagain@gmail.com'}

In [54]:
# help(dict)

In [ ]:
y = person.copy()
y['age'] = 25   #error copy garda 
pe

In [ ]:
#non datastructure
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
print(person.get('age', 'there is no age'))  
#print(person('age'))  

print(person.get('email','There is no email'))

22
There is no email

In [48]:
# key k k ho tha paunu cha vanyea 
print(person.keys())
print(person.values())
print(person.items())
print(person)

dict_keys(['id', 'name', 'age', 'contact', 'height'])
dict_values([1, 'ram', 22, 9840027049, 5.9])
dict_items([('id', 1), ('name', 'ram'), ('age', 22), ('contact', 9840027049), ('height', 5.9)])
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 9840027049, 'height': 5.9}

In [51]:
# kunai point bata del garna 
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
person.pop('name')
print(person)

{'id': 1, 'age': 22, 'contact': 9840027049, 'height': 5.9}

In [ ]:
# update garna 
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
person.update({'email':'ram@gmail.com','college':"ncit"})
print(person)
# print(person.update({'email':'ram@gmail.com','college':"ncit"}))
# yeasma kina print vayeana vanea update garni kura print gardai cha so \

None