In [1]:
#tuple datatye / data structure
x = (1,2,3,4,5)
print(x,type(x))

(1, 2, 3, 4, 5) <class 'tuple'>

In [2]:
#supports any type of data structure 
#ordered collection
x = (1,1.3,4j,'string',[1,2,3],(1,2,3),{1,2},{"name":'ritik'})
print(x,type(x))

(1, 1.3, 4j, 'string', [1, 2, 3], (1, 2, 3), {1, 2}, {'name': 'ritik'}) <class 'tuple'>

In [7]:
#tuple is immutable data structure = cannot be changed once defined
x = (1,2,3,4,5)
# x[0]='number'  error aucha

In [6]:
#indexing
x = (1,2,3,4,5)
print(x[2])
print(x[2:4])

3
(3, 4)

In [10]:
# tuple ma k k garna milcha vanyeara herna help(tuple)
# help(tuple)

In [ ]:
#count 
print(x.count(3))
print(x.index(3))

1

In [ ]:
#  tuple kasari huncha: , vayo vanea
x = (1)
print(type(x))
y = (1,2,3)
print(type(y))
z = 1,2,3,4
print(type(z))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [18]:
#tuple unpacking 
x,y,z= 1,2,3
print(x)
print(y)
print(z)
x = x + 1
print(x)

1
2
3
2

In [ ]:
#list vs tuple 
#list mutable but tuple immutable 
# list [] but tuple (,) comma is neccessary 
#list is slower than tuple tuple is faster
#list takes more merory than tuple 
#list homogenous datastructure where as tuple heterogenous datastructure
#generally
fruits = ['apple','banana','kiwi']
person1 = (1,'ram',22,9840027049,5.9)
print(person1,type(person1)) #, rakhyo vanyea aaru kura pani access garna milcha 
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
print(person,type(person))
print(person['name']) #dic ko kunai key lina paryo vane
print(person['contact']) #dic ko kunai key matra lina paryo vane
# kunai kura thapna paryo vanea 
person['email'] = 'ritikhumagain@gmail.com'
print(person)
#kunai kura del garna paryo vanea 
del person['age']
print(person)
#dist ma k k garna mailcha herna help(dist)

(1, 'ram', 22, 9840027049, 5.9) <class 'tuple'>
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 9840027049, 'height': 5.9} <class 'dict'>
ram
9840027049
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 9840027049, 'height': 5.9, 'email': 'ritikhumagain@gmail.com'}
{'id': 1, 'name': 'ram', 'contact': 9840027049, 'height': 5.9, 'email': 'ritikhumagain@gmail.com'}

In [54]:
# help(dict)

In [ ]:
y = person.copy()
y['age'] = 25   #error copy garda 
pe

In [ ]:
#non datastructure
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
print(person.get('age', 'there is no age'))  
#print(person('age'))  

print(person.get('email','There is no email'))

22
There is no email

In [48]:
# key k k ho tha paunu cha vanyea 
print(person.keys())
print(person.values())
print(person.items())
print(person)

dict_keys(['id', 'name', 'age', 'contact', 'height'])
dict_values([1, 'ram', 22, 9840027049, 5.9])
dict_items([('id', 1), ('name', 'ram'), ('age', 22), ('contact', 9840027049), ('height', 5.9)])
{'id': 1, 'name': 'ram', 'age': 22, 'contact': 9840027049, 'height': 5.9}

In [51]:
# kunai point bata del garna 
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
person.pop('name')
print(person)

{'id': 1, 'age': 22, 'contact': 9840027049, 'height': 5.9}

In [ ]:
# update garna 
person= {
    'id':1,
    'name':'ram',
    'age':22,
    'contact':9840027049,
    'height':5.9,
}
person.update({'email':'ram@gmail.com','college':"ncit"})
print(person)
# print(person.update({'email':'ram@gmail.com','college':"ncit"}))
# yeasma kina print vayeana vanea update garni kura print gardai cha so \

None