In [ ]:
# if else
age = 17 
if age> 16:
    print('Autorized') # indentation
print("Hello")

Autorized
Hello

In [ ]:
age = 17 
if age >=18:
    print('Authorized')
    print('hi')

print('hello'
)

hello

In [ ]:
#only if statement  yeasma chai sabai check garch ans aayea pani 
age = int(input('enter your age'))
if age >=18: 
    print(f'your age is :',age)
    print("Your are Authorized")
if age <18:
    print(f'your age is :',age)
    print("Your are UnAuthorized")

your age is : 11
Your are UnAuthorized

In [ ]:
# greatest
x = int(input('Enter the value of x :'))
y = int(input('Enter the value of y :'))
if x > y : 
    print(f'x is {x} and Y is {y} so x is greater ')
    
if y > x:
    print(f'x is {x} and Y is {y} so y is greater ')

if x == y :
    print('x and y are equal ')

x and y are equal

In [ ]:
#else if 
age = int(input('enter your age'))
if age >=18: 
    print(f'your age is :',age)
    print("Your are Authorized")
else:
    print(f'your age is :',age)
    print("Your are UnAuthorized")

your age is : 11
Your are UnAuthorized

In [1]:
# elif yesma chai ans aayo vanea aaru ma check gardaina
x = int(input('Enter the value of x :'))
y = int(input('Enter the value of y :'))
if x > y : 
    print(f'x is {x} and Y is {y} so x is greater ')
    
elif y > x:
    print(f'x is {x} and Y is {y} so y is greater ')

else :
    print('x and y are equal ')

x is 11 and Y is 1 so x is greater

In [ ]:
# harek ma check gardai aaucha true aayo 
if False:
    print('hello1')
elif False:
    print('hello2')
elif False:
    print('hello3')   
else:
    print("Final Hello")

Final Hello

In [ ]:
if False:
    print('hello1')
elif False:
    print('hello2')
elif False:
    print('hello3')

In [ ]:
if True:
    print('hello0')

if False:
    print('hello1')
else:
    print('hello2')

if True:
    print('hello3')    
elif False:
    print('hello4')

hello0
hello2
hello3

In [ ]:
if False:
    print("hello1 ")

if True:
    print("hello2 ")
elif True:
    print("hello13 ")

if True:
    print("hello4 ")
else :
    print("hello5 ")

In [ ]:
if False:
    print("hello1 ")

if True:
    print("hello2 ")

if True:
    print("hello 3")
elif True:
    print("hello1 4 ")
else:
    print ("hello 5")

if False:
    print("hello 6")
elif False:
    print("hello1 7 ")
else:
    print ("hello 8")

hello2
hello 3
hello 8

In [ ]:
# task 
username = input("Enter Username")
password = input("Enter Password")
if username == "admin" and password == "admin123":
    print("correct username and password")
else : 
    print("Incorrect password")

incorrect password

In [ ]:
#  task 
username = input("Enter Username")
password = input("Enter Password")
secret = int(input("Enter Pin"))
if username == "admin" and password == "admin123":
    print("Successfully logged in")
elif secret == 9900:
    print("Successfully logged in ")
else : 
    print("Cannot Login")

# alternative way 
if ((username == "admin" and password == "admin123")or secret==9900):
    print("Successfully logged in")
else : 
    print("Cannot Login")

Successfully logged in

In [ ]:
#  task 
username = input("Enter Username")
password = input("Enter Password")

if username == "admin" and password == "admin123":
    print("Successfully logged in")
elif username != "admin" and password != "admin123":
    secret = int(input("Enter Pin"))
    if secret == 9900:
        print("Successfully logged in ")
    else:
        print("Wrong secret pin")

else:
    print("Cannot Login")

Cannot Login

In [ ]:
username = input("Enter Username: ")
password = input("Enter Password: ")

if username == "admin" and password == "admin123":
    print("Successfully logged in")

elif username != "admin" and password != "admin123":
    secret = int(input("Enter Pin: "))
    if secret == 9900:
        print("Successfully logged in")
    else:
        print("Wrong secret pin")

else:
    print("Cannot Login")

Successfully logged in

In [2]:
sub1 = int(input('Marks Obtained in sub1'))
sub2 = int(input('Marks Obtained in sub2'))
sub3 = int(input('Marks Obtained in sub1'))
sub4 = int(input('Marks Obtained in sub1'))
sub5 = int(input('Marks Obtained in sub1'))
sub6 = int(input('Marks Obtained in sub1'))
sub7 = int(input('Marks Obtained in sub1'))
sub8 = int(input('Marks Obtained in sub1'))


final_marks= (sub1+sub2+sub3+sub4+sub5+sub6+sub7+sub8)/8
print("your marks is ")
if final_marks>=  80:
    print("distinction")
elif (final_marks>=  60 and final_marks< 80): #last ma yo narakyea pani huncha 
    print("first division")
elif (final_marks>=  50 and final_marks< 60):
    print("second division")
elif (final_marks>=  35 and final_marks< 50):
    print("Third division")
else:
    print("fail")

your marks is
Third division

In [ ]:

sub1 = int(input('Marks Obtained in sub1'))
sub2 = int(input('Marks Obtained in sub1'))
sub3 = int(input('Marks Obtained in sub1'))
sub4 = int(input('Marks Obtained in sub1'))
sub5 = int(input('Marks Obtained in sub1'))
sub6 = int(input('Marks Obtained in sub1'))
sub7 = int(input('Marks Obtained in sub1'))
sub8 = int(input('Marks Obtained in sub1'))


final_marks= (sub1+sub2+sub3+sub4+sub5+sub6+sub7+sub8)/8
if final_marks>=  80:
    print("distinction")
if (final_marks>=  60 and final_marks< 80): #last ma yo narakyea pani huncha 
    print("first division")
if (final_marks>=  50 and final_marks< 60):
    print("second division")
if (final_marks>=  35 and final_marks< 50):
    print("Third division")
else:
    print("fail")

In [1]:
s1 = int(input("Enter the marks obtained in Subject 1"))
s2 = int(input("Enter the marks obtained in Subject 2"))
s3 = int(input("Enter the marks obtained in Subject 3"))
s4 = int(input("Enter the marks obtained in Subject 4"))
s5 = int(input("Enter the marks obtained in Subject 5"))
s6 = int(input("Enter the marks obtained in Subject 6"))
s7 = int(input("Enter the marks obtained in Subject 7"))
s8 = int(input("Enter the marks obtained in Subject 8"))
 
average = (s1 + s2 + s3 + s4 + s5 + s6 + s7 + s8)/8
 
if average >= 80:
    print("Distinction")
elif average >= 60:
    print("First Division")
elif average >= 50:
    print("Second Division")
elif average >= 35:
    print("Third Division")
else: 
    print("Fail")

Second Division

In [ ]:
# for loop 
# Syntax : for variable in sequence:

1
3
6
10
15
15

In [12]:
x = 1,2,3,5,5
i = 0
sum = 0 
for i in x:
    sum += i
    print(sum)
print(sum)

1
3
6
11
16
16

In [2]:
password = 'ritik'
enter_password = input('enter password')
while password != enter_password:
    print('Incorrect Password')
    enter_password = input("Enter password again ")
else:
    print('correct password')

Incorrect Password
Incorrect Password
Incorrect Password
Incorrect Password
correct password

In [1]:
for i in range(3):
    for j in range(2):
        print(i, j)


# 001101201

0 0
0 1
1 0
1 1
2 0
2 1

In [2]:
#Taking output in the form of list
x = [1,2,3,4,5]
output= []  #First mai initiate garyo vanea list ma aaucha 
#output = [1,4,9,16,25]
for i in x:
    sum = i **2 
    output.append(sum)   # Mathi ko list ma add gardai jani 
print(output)

[1, 4, 9, 16, 25]

In [4]:
# find even or odd from the list 
x = [1,2,3,4,5,7]
output = []
for i in x :
    if i % 2 == 0:
        output.append("Even")
    else:
        output.append("odd")
   
print(output)

['odd', 'Even', 'odd', 'Even', 'odd', 'odd']

In [17]:
#Counting the no of vowels present in the string and listing them 
name = input("Enter your name:")  # Ritik Humagain 
vowel = "aeiouAEIOU"
no_vowel = 0
all_vowel = ""
for char in name:
    if char in vowel:
        all_vowel += char
        # all_vowel = " ".join(char)
        no_vowel += 1
        print(all_vowel)
print(f'The Number of vowel in given word is :',no_vowel) # 6
# print(all_vowel)

i
ii
iiu
iiua
iiuaa
iiuaai
The Number of vowel in given word is : 6

In [24]:
#Calculating marks from dictionary
marks = {"Alan":99, "Bill":55,"Cory":77}
sum = 0
for i in marks.values():
    sum += i
print(sum)

231

In [38]:
# find leng of an string from dict
students = ['alan','bill','ramesh','corry','ram','shyam bahadur','gita']
new_students = {}
#output=['alan':4,'bill':4,'ramesh':6,'corry':5,'ram':3,'shyam bahadur':13,'gita':4]

for string in students:
    number = len(string)
    new_students.update({string:number})
print(new_students)

{'alan': 4, 'bill': 4, 'ramesh': 6, 'corry': 5, 'ram': 3, 'shyam bahadur': 13, 'gita': 4}

In [40]:
# find index of an string from dict
students = ['alan','bill','ramesh','corry','ram','shyam bahadur','gita']
new_students = {}
#output=['alan':4,'bill':4,'ramesh':6,'corry':5,'ram':3,'shyam bahadur':13,'gita':4]

for string in students:
    number = students.index(string)
    new_students.update({string:number})
print(new_students)

{'alan': 0, 'bill': 1, 'ramesh': 2, 'corry': 3, 'ram': 4, 'shyam bahadur': 5, 'gita': 6}

In [41]:
range (0,10)

range(0, 10)

In [42]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
for i in range (0,10):
    print (i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [47]:
for i in range (0,10, 2):
    print (i, end=" ")

0 2 4 6 8

In [50]:
for i in range (10, 0, -1):
    print (i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [53]:
# find index of an string from dict
students = ['alan','bill','ramesh','corry','ram','shyam bahadur','gita']
new_students = {}
#output=['alan':4,'bill':4,'ramesh':6,'corry':5,'ram':3,'shyam bahadur':13,'gita':4]

for string in range(0,len(students)):
    
    new_students.update({students[string]:string})
print(new_students)

{'alan': 0, 'bill': 1, 'ramesh': 2, 'corry': 3, 'ram': 4, 'shyam bahadur': 5, 'gita': 6}

In [71]:
#converting usd into npr 
us_price = {"milk": 2.03, "bread":2.6,'butter':3.6}
#1 use = npr 132
nrs_price = {}
for item,usd in us_price.items():
    nrp = usd * 132
    nrs_price[item]= round(nrp,4)
print(nrs_price)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [69]:
#converting usd into npr  2nd method
us_price = {"milk": 2.03, "bread":2.6,'butter':3.6}
#1 use = npr 132
nrs_price = {}
for item,usd in us_price.items():
    nrs_price.update({item:usd*132})
print(nrs_price)

{'milk': 267.96, 'bread': 343.2, 'butter': 475.2}

In [72]:
# add 13% tax and calculate nepali price
us_price = {"milk": 2.03, "bread":2.6,'butter':3.6}
nrs_price_vat = {}
for k,v in us_price.items():
    value = v * 132
    value_with_vat = value*(13/100)+value
    nrs_price_vat.update({k:value_with_vat})
print(nrs_price_vat)

{'milk': 302.7948, 'bread': 387.816, 'butter': 536.976}

In [74]:
# add 13% tax and calculate nepali price 2nd method 
us_price = {"milk": 2.03, "bread":2.6,'butter':3.6}
nrs_price_vat1 = {}
for k,v in us_price.items():
    value = v * 132
    value_with_vat = value*(13/100)+value
    nrs_price_vat1[k]= value_with_vat
print(nrs_price_vat1)

{'milk': 302.7948, 'bread': 387.816, 'butter': 536.976}

In [79]:
us_price = {
    'milk': 2.03,
    'bread':2.6,
    'iphone': 999,
    'butter': 3.6,
    'meat': 5,
    'mobile':500,
    'laptop':1000,
    'television':340
}
np_price= {}
for k,v in us_price.items():
    if v >= 5:
        v = v*132*1.20
        np_price[k]=v

    else :
        v = v*132*1.13
        np_price.update({k:v})
print(np_price)

{'milk': 302.79479999999995, 'bread': 387.816, 'iphone': 158241.6, 'butter': 536.9759999999999, 'meat': 792.0, 'mobile': 79200.0, 'laptop': 158400.0, 'television': 53856.0}

In [84]:
#pass , continue , break 
age = 17 
if age < 18 :
    pass  # pass vannna le aahilea code kehi pani chaina 
print('hello world')

hello world

In [ ]:
x = [1,2,3,4,5,6]
for i in x :
    pass

In [95]:
x = (1,2,6,8,9,6,10)
sum = 0 

for i in x :
    if i == 6 :
        pass
    else:
        sum += i
print(sum)

30

In [98]:
# pass ko kam keahi hudaina 
x = (1,2,6,8,9,6,10)
sum = 0 

for i in x :
    if i == 6 :
        pass
    
    sum += i
print(sum)

42

In [99]:
#continue
# jun item le teo skip garyera sidai feari code run garcha 
# skip the currently iterated item 
# does not run anything after continue 
# and jumps to next ite m
x = (1,2,6,8,9,6,10)
sum = 0 

for i in x :
    if i == 6 :
        continue
    
    sum += i
print(sum)

30

In [100]:
# Break
x = (1,2,6,8,9,6,10)
sum = 0 

for i in x :
    if i == 6 :
        break # terminate exit from current loop
    
    sum += i
print(sum)

3

In [101]:
#Nested loop 
name = 'ram ','shyam','gita','sita'
food = 'momo','chowmein','thukpa'
for i in name:
    for j in food:
        print(f'{i} eats {j}')

ram  eats momo
ram  eats chowmein
ram  eats thukpa
shyam eats momo
shyam eats chowmein
shyam eats thukpa
gita eats momo
gita eats chowmein
gita eats thukpa
sita eats momo
sita eats chowmein
sita eats thukpa

In [102]:
#while loop 
name = 'ram','shyam','gita','sita'
i = 0   # initializer
while i < len(name):  #Condition
    print(name[i])
    i  += 1   # increment / decrement

ram
shyam
gita
sita

In [114]:
#while loop
# for for loops 
# finite iteration
#if yu know how many times you are iterating

#why while loop 
# infinite iterarion 
# if you dont know how many times you are iteratin 
number = 1,2,3,4
i = 0 
sum = 0
while i < len(number):
    sum += number[i] 
    i += 1
print(sum)

10

In [120]:
age = int(input('enter the your age'))
# i = 0 
while age < 18:
    
    age = int(input('enter the your age'))
    # i+= 1
    # print('welcome')
print('welcome')

welcome

In [ ]:
x = 1 
y