In [1]:
x = 1  
y = 2 
sum  = x + y 
print(sum)

3

In [5]:
#defining function :funx banako 

def addition():
    x = 1 
    y = 2 
    sum = x + y 
    print(sum)
addition()
addition()

3
3

In [7]:
def addition(x , y):
    
    sum = x + y 
    print(sum)
addition(4,5)
addition(4,10)

9
14

In [6]:
def addition(x , y):
    
    sum = x + y 
    print(sum)
addition(4,5)
addition(4,10)
addition(y = 5 , x = 8 )  # x=2 keyword argument   4 : positional argument
# positional argument pachi chai key word rakhna milcha 
# keyword argument pachi chai positional argument rakhna mildaina
addition(4, y= 2 )

9
14
13
6

In [3]:
#garna namilni tarika 
# addition (4,x = 2)

In [2]:
def  addition(x,y):
    sum1 = x + y 
    return sum1
a = addition(1,2)
print(a**2)

9

In [ ]:
def  compress_pdf(file):
    compress_code = "dfdkfdfklsdfksdfsldfk" 
    return compress_code

In [ ]:
# yeadi hamlea value diyea vanea ko case ma 
def  addition(x,y= 0 ): # y is called default argument 
    sum1 = x + y 
    return sum1
addition(4) 
addition(4,4)  # by default 0 huna paryo keahi value send garya chaina vanea

8

In [13]:
def calculator(x,y):
    add  = x + y 
    sub  = x - y 
    return add, sub
    # return sub
# yeasari value aaudaina so hamle multiple value return garnu cha vanea comma garna parcha
calculator(4,2)

(6, 2)

In [14]:
def addition (x,y,z,a):
    sum = x + y + z + a
    return sum 
addition(2,3,4,5)

14

In [ ]:
# jati ota send garye ni chalna paryo 
def addition (*args): # support only positional argument it doesnot support keyword argument
    sum = 0
    for i in args :
        
        sum += i 
    # * means any numbers of arguments
    print(sum)
    # return sum

# addition(3,4,5)
addition(3,4,5,6,7)

25

In [24]:
def addition (** kwargs): # **means any number of key words arguments 
    sum = 0
    for k , v in kwargs.items():
        sum += v
    return sum 
addition (x = 1, y = 2)
# addition (3,4,5,6,x = 1, y = 2 ,z = 3)   # both positional and key word argument

3

In [26]:
def addition (*args,** kwargs): # **means any number of key words arguments 
    sum = 0
    for k , v in kwargs.items():
        sum += v
    
    for i in args :
        sum += i
    return sum
# addition (x = 1, y = 2)
addition (3,4,5,6,x = 1, y = 2 ,z = 3)   # both positional and key word argument

24

In [ ]:
def hello ():
    xyz = 8    # function level = local scope ma cha
    print(xyz)
hello()
# print(xyz) # function vitrai huncha bahira hudaina vitrai sakincha

8

NameError: name 'xyz' is not defined

In [ ]:
name = 'shyam ' # global scope - module level /file level
print (name)
def hi ():
    name = 14
    return name
hi()

shyam

14

In [37]:
print(max([2, 4, 5]))  # Output: 5

TypeError: 'list' object is not callable

In [ ]:
min ([2,4,45,4])  
len ([2, 4, 5]) # Output: 5  # yo chai built in scope ho

3

In [46]:
def hi () :
    print (first_name) #first ma local scope hercha teo pachi global scope ma hercha ani teo pachi built in scope ma hercha

In [47]:
# built in scope - any where in pyton file - print min max , sorted, sum 
#global scope - created variable within python file/module 
#local scope - inside function

In [ ]:
# practice
x = 5 
def hello ():
    x = 2 
    
    return x 

print(hello ())
print(x)

2
5

In [ ]:
# Important concept 
x = 5 
def hello ():
    # x = x + 2 
    y = x + 2  # same variable ma assign garna mildaina value navai kana local ma 
    return y 
hello()

7

In [ ]:
# vitra ko lai ni global banauna milcha tara sakye saama use nagarni global kina vanda confussion aaucha
x = 5 
def hello():
    global x 
    x = x + 2
    return x
hello ()
print(x)

7